a {
    text-decoration: none;
}

.menu__link {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
}

.menu__link {
    border-bottom: 3px solid #333;
    line-height: 2em;
    text-decoration: none;
    cursor: pointer;
}

.menu__link,
.menu__link:visited {
    color: #f3e049 !important;
}

.menu__link--selected {
    border-bottom: 3px solid #f3e049;
}

.connexion {
    padding-top: 20px;
    padding-left: 20px;
}

.connexion>a>a {
    display: flex;
}

.powerSetting>a,
.profilSetting>a {
    display: flex;
}

.marginRightImage {
    margin-right: 5px;
    width: 20px;
}

@media screen and (min-width: 991px) {
    .connexion {
        display: none;
    }
    .test {
        display: flex;
        border: none;
        justify-content: space-between;
        width: 100%;
    }
    .test>div {
        margin-right: 15px;
    }
}