.menu__link {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
}

.menu__link {
  border-bottom: 3px solid #333;
  line-height: 2em;
  text-decoration: none;
}

.menu__link, .menu__link:visited {
  color: #f3e049 !important;
}

.menu__link--selected {
  border-bottom: 3px solid #f3e049;
}
