---
---
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge;chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>NantesJS - Communauté nantaise des utilisateurs de JavaScript</title>

    <meta itemprop="name" content="NantesJS">
    <meta itemprop="description" content="Communauté Nantaise des utilisateurs de JavaScript">

    <meta name="google-site-verification" content="koBZ8ndrkapNRtTjHwJ9TXn8znnY9VN5ONrgmb44CTI">
    <meta description="A website about the Nantes JavaScript User Group and their meetups">

    <link rel="author" href="/humans.txt">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
    <a class="github-forkme" href="https://github.com/NantesJS"><img src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    <header>
        <a href="/" title="NantesJS">
            <h1 class="logo"><img src="images/logotype.png" alt="Logo de NantesJS"></h1>
        </a>
    </header>

    <div id="main">
        <div class="section hero">
            <div class="container">
                <div class="row">
                    <div class="one-half column disclaimer">
                        <h2>Communauté nantaise des utilisateurs de JavaScript</h2>
                        <p class="intro">NantesJS est un groupe nantais informel entre utilisateurs et passionnés de JavaScript/ECMAScript. Son but est de favoriser les échanges et rencontres des utilisateurs/développeurs autour de cette technologie, de ses possibilités, de son avenir...</p>
                    </div>
                    <div class="one-half column phones">
                        <img class="phone" src="images/intro/intro-elephant.png" alt="Le grand éléphant des Machines de l'île">
                        <img class="phone" src="images/intro/intro-grue.png" alt="Grue Titan jaune">
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-odd meetups">
            <div class="container">
                <h3 class="section-heading">Les rencontres JS nantaises</h3>
                <p class="intro">La première rencontre a eu lieu en Janvier 2012. Depuis cette date, les rencontres se sont faites sur une base irrégulomadaire.</p>
                <p class="intro">Pour l'année 2015/2016, les rencontres seront programmées 1 fois par mois, le 3e jeudi du mois !</p>
                <p class="intro">Des lightnings talks de 5 à 15 minutes seront proposés tous les mois. Ceux-ci sont soumis au vote des inscrits peu avant la rencontre.</p>
                <p class="intro">Les collations sont toujours les bienvenues. Sponsors et autres donateurs anonymes, n'hésitez pas à vous manifester :)</p>
                <br />
                <p class="intro">Vous souhaitez partager une technologie, présenter une découverte ou bien faire un retour d'expérience. N'hésitez pas à proposer votre sujet dès maintenant !</p>
                <a class="button talk-submission" href="http://bit.ly/2n79F8A">Proposer un sujet</a>

                <div class="row">
                    <div class="twelve column meetup-next">
                        <span>Prochaine rencontre :</span>

                        {% assign next = site.meetups | where: 'status', 'next' %}

                        {% assign hasnext = next | size %}
                        {% if hasnext == 0 %}
                            Le prochain meetup n'est pas encore annoncé.<br>
                            <b>Envie de parler au prochain NantesJS ? Contacte nous <a href="https://twitter.com/nantesjs">@nantesjs</a></b>
                        {% endif %}
                        {% for meetup in next %}
                            <h4>{{ meetup.title }}</h4>
                            <span class="date">{{ meetup.date | date_to_string }} à 19h</span>
                            <span class="place"><a href="{{ meetup.place.link }}">@ {{ meetup.place.name }}</a></span>
                            <span class="place">{{ meetup.place.address }}</span>
                            <span class="sponsor">
                                <i class="fa fa-hand-peace-o"></i>
                                <a target="_blank" href="{{ meetup.sponsor.link }}">{{ meetup.sponsor.name }}</a>
                            </span>
                            <img class="u-max-full-width" src="{{ meetup.image }}" alt="{{ meetup.title }}">
                            {% for talk in meetup.talks %}
                            <ul class="talk">
                                <li class="talk-res"><a href="{{ talk.link }}">{{ talk.title }}</a></li>
                                {% for speaker in talk.speakers %}
                                <li class="talk-author"><a href="{{ speaker.link }}">{{ speaker.name }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                            {% if meetup.ticketsUrl %}
                            <ul class="talk">
                                <li><a class="button" target="_blank" href="{{ meetup.ticketsUrl }}">Détails pratiques et inscriptions</a></li>
                             </ul>
                             {% endif %}
                        {% endfor %}
                    </div>
                </div>


                <h3>Les meetups passés</h3>
                {% assign meetups = site.meetups | where: 'status', 'done' | sort:'date' | reverse %}
                {% for meetup in meetups %}
                    {% assign mod = forloop.index | modulo: 3 %}
                    {% if mod == 1 %}
                    <div class="row">
                    {% endif %}
                    <div class="one-third column meetup">
                        <h4>{{ meetup.title }}</h4>
                        <span class="date">{{ meetup.date | date_to_string }}</span>
                        <span class="place"><a href="{{ meetup.place.link }}">@ {{ meetup.place.name }}</a></span>
                        <img class="u-max-full-width" src="{{ meetup.image }}" alt="{{ meetup.title }}">
                        {% for talk in meetup.talks %}
                        <ul class="talk">
                            <li class="talk-res"><a href="{{ talk.link }}">{{ talk.title }}</a></li>
                            {% for speaker in talk.speakers %}
                            <li class="talk-author"><a href="{{ speaker.link }}">{{ speaker.name }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                    {% if mod == 0 or forloop.last %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="section networks">
            <div class="container">
                <h3 class="section-heading">Retrouvez-nous sur les réseaux</h3>
                <p class="intro">Parce qu'une communauté ne vit que par les discussions et les rencontres régulières de ses membres, participez à l'organisation et à la vie de NantesJS sur les différents groupes de discussion et réseaux</p>
                <a class="button" target="_blank" href="https://twitter.com/NantesJS"><i class="fa fa-2x fa-twitter"></i> @NantesJS</a>
                <a class="button" target="_blank" href="https://www.facebook.com/NantesJS"><i class="fa fa-2x fa-facebook"></i> Facebook</a>
                <a class="button" target="_blank" href="http://groups.google.com/group/nantesjs"><i class="fa fa-2x fa-google"></i> Google Groups</a>
                <a class="button" target="_blank" href="https://github.com/NantesJS"><i class="fa fa-2x fa-github"></i> Github</a>
                <a class="button" target="_blank" href="http://www.linkedin.com/groups?jobs=&gid=4233280&trk=anet_ug_jobs"><i class="fa fa-2x fa-linkedin"></i> LinkedIn</a>
                <a class="button" target="_blank" href="http://nantesjs.eventbrite.fr/"><i class="fa fa-2x fa-calendar-o"></i> Eventbrite</a>
                <div class="newsletter">
                    <p>Pour un suivi complet de l'activité NantesJS, des sujets de discussions, des évènements à venir,<br>n'hésitez plus, abonnez-vous à la newsletter NantesJS :</p>
                    <form action="http://groups.google.com/group/nantesjs/boxsubscribe">
                        <label for="email">Votre email</label>
                        <input type="email" name="email" id="email" size="50" placeholder="moiaussijaimelejs@nantes.fr">
                        <input type="submit" name="submit" value="Valider">
                    </form>
                </div>
                <div class="twitter-feed">
                    <p>Les dernières news sur @NantesJS :</p>
                    <a class="twitter-timeline" href="https://twitter.com/NantesJS" data-chrome="noheader nofooter noborders" data-tweet-limit="3" data-widget-id="617298170331176961">Tweets de @NantesJS</a>
                </div>
            </div>
        </div>

        <div class="section section-odd others-jsug">
            <div class="container">
                <h3 class="section-heading">JavaScript autour du monde</h3>
                <div class="row">
                    <div class="one-half column">
                        <h4>En France</h4>
                        <a class="button" target="_blank" href="http://francejs.org/">FranceJS</a>
                        <a class="button" target="_blank" href="http://angersjs.github.io/">AngersJS</a>
                        <a class="button" target="_blank" href="http://www.meetup.com/fr/BordeauxJS/">BordeauxJS</a>
                        <a class="button" target="_blank" href="https://twitter.com/CaenJS">CaenJS</a>
                        <a class="button" target="_blank" href="http://chtijs.francejs.org/">ChtiJS</a>
                        <a class="button" target="_blank" href="http://lyonjs.org/">LyonJS</a>
                        <a class="button" target="_blank" href="http://francejs.org/MarseilleJS/">MarseilleJS</a>
                        <a class="button" target="_blank" href="https://twitter.com/MontpellierJS">MontpellierJS</a>
                        <a class="button" target="_blank" href="http://parisjs.org/">ParisJS</a>
                        <a class="button" target="_blank" href="http://rennesjs.org/">RennesJS</a>
                        <a class="button" target="_blank" href="http://toulousejs.francejs.org/">ToulouseJS</a>
                    </div>
                    <div class="one-half column world-jsug">
                        <h4>Et ailleurs</h4>
                        <a class="button" target="_blank" href="http://communityjs.org/">CommunityJS</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section ressources">
            <div class="container">
                <h3 class="section-heading">JavaScript ressources</h3>
                <p class="section-description">Un peu de lecture ne fait jamais de mal, alors en attendant la prochaine rencontre,<br>voici une petite sélection de liens web "back 2 basics" !</p>
                <a class="button" target="_blank" href="http://eloquentjavascript.net/">Eloquent JavaScript</a>
                <a class="button" target="_blank" href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/">Essential JS Design Patterns</a>
                <a class="button" target="_blank" href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Guide">Guides JavaScript MDN</a>
                <a class="button" target="_blank" href="https://developer.mozilla.org/fr/">Mozilla Developper Network</a>
                <a class="button" target="_blank" href="http://jstherightway.org/">JS The Right Way</a>
                <a class="button" target="_blank" href="http://news.humancoders.com/t/javascript">Human Coder News JS</a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-wrapper">
            <div class="profile">
                <div class="image-wrapper">
                    <a href="/"><img alt="NantesJS" src="images/profile.png" /></a>
                </div>
            </div>
<!--             <ul class="sponsors">
                <li class="sponsor">
                    <img class="grayscale" src="images/sponsor/sponsor_cantine.jpeg" alt="La Cantine par Atlantic 2.0">
                </li>
                <li class="sponsor">
                    <img class="grayscale" src="images/sponsor/sponsor_knp-labs.png" alt="KNP Labs">
                </li>
                <li class="sponsor">
                    <img class="grayscale" src="images/sponsor/sponsor_clever-age.svg" alt="Clever Age">
                </li>
                <li class="sponsor">
                    <img class="grayscale" src="images/sponsor/sponsor_smile.png" alt="Smile">
                </li>
                <li class="sponsor">
                    <img class="grayscale" src="images/sponsor/sponsor_stereolux.png" alt="Sterolux">
                </li>
                <li class="sponsor">
                    <img class="grayscale" src="images/sponsor/sponsor_epitech.png" alt="Epitech">
                </li>
                <li class="sponsor">
                    <img class="grayscale" src="images/sponsor/sponsor_eodim.png" alt="Eodim">
                </li>
            </ul> -->
            <div class="copyright"><i class="fa fa-heart"></i> <a href="/">NantesJS</a> - &copy; 2011-2016</div>
        </div>
    </footer>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27967727-1']);
        _gaq.push(['_setDomainName', 'nantesjs.org']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
