/*@charset "utf-8"*/

body {
  margin-top: 1.0em;
  background-color: black;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  color: #000000;
}

h1 {
    text-align:center;
    font-size: 3.8em; 
    color: black; 
    margin-bottom: 3px;
}
h1 .small {
    font-size: 0.4em;
}
h1 a { 
	text-decoration: none
}

h2 { 
	font-size: 1.2em; 
    margin-top: 60px;
    margin-left: 10px;
    color: black;
}

/*
h3 {
    text-align: center; 
    color: black;
}
*/

a {
    color: black;
}

pre {
    background: #000; 
    color: #fff; 
    padding: 15px;
}

hr {
    border: 0; 
    width: 80%; 
    border-bottom: 1px solid #aaa
}

img {
	border: 0;
}

.description { 
	font-size: 1.2em; 
    margin-bottom: 30px; 
    margin-top: 30px; 
    font-style: italic;
}

.lanyrd-target-splat {
    position:relative;
    left:5%;
    right:5%;
    border:black solid thin;
    text-align:left;
    background-color: #EDF3FE;
	padding: 1em;
    width:85%;
}

.twitter-follow-button {
    position: relative;
    top: 10px;
    left: 10px;    
}

.twitter-share-button {
    position: relative;
    top: 10px;
    left: -180px;    
}

#___plusone_0 {
    position: relative;
    top: -20px;
    left: -140px;    
}

.fb-like {
    position: relative;
    top: 10px;
    left: 10px;
}

.footer { 
	text-align:center; 
    padding-top:30px; 
    font-style: italic;
}

#JSLogo {
	position: absolute; 
    top: 0; 
    left: 0; 
    border: 0;
}

#eventBriteCalendar {
    position: absolute;
    top: 560;
    left: 20;
    z-index: 100;
    margin-top: 300px;
}

#googleGroup {
    border:black solid thin;
    background-color: #EDF3FE; 
    padding: 5px;
    width: 90%;
}

#ForkMe {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0;
}

#twitterWidget {
    position: absolute; 
    top: 200px; 
    right: 20px;
}

#container {
  background-color: white;
  margin: 0 auto;
  width: 700px;
}
