.meetup-details {
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.meetup-details h1,
.meetup-details time .day {
    font-size: 5.8rem;
    font-weight: 500;
}

.meetup-details p {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.meetup-details img {
    height: 11rem;
    width: 11rem;
}
