nav {
    padding-bottom: 1rem;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-bottom: 0.5rem;
}

nav > ul > li > a {
    align-items: center;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    color: var(--color-yellow-nantesjs);
    display: flex;
    font-family: var(--font-title);
    font-size: 18px;
    padding: 0.5rem;
    text-decoration: none;
}

nav > ul > li:not(.cfp-link) {
    margin-right: 20px;
}

nav > ul > li:not(.cfp-link) > a {
    transition: border-bottom-color ease 500ms;
}

nav ul > li:not(.cfp-link) > a.active {
    border-bottom: 3px solid var(--color-yellow-nantesjs);
}

nav > ul > li:not(.cfp-link) > a.active,
nav > ul > li:not(.cfp-link) > a:hover {
    border-bottom-color: var(--color-yellow-nantesjs);
    transition: border-color ease 500ms;
}

/* Specific : the CFP link */

nav > ul > li.cfp-link > a {
    background-color: var(--color-yellow-nantesjs);
    border-bottom-color: var(--color-yellow-nantesjs);
    color: var(--color-dark-grey);
    transition: all ease 500ms;
}

nav > ul > li.cfp-link > a:hover {
    background-color: transparent;
    color: var(--color-yellow-nantesjs);
    transition: all ease 500ms;
}

nav > ul > li.cfp-link > a > svg {
    margin-left: 0.5rem;
}

