.talk {
  display: flex;
  justify-content: space-between;
}

.talk__title {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.1rem;
}

.talk__speaker {
  font-weight: 300;
}

.talk__video {
  margin-top: 1rem;
  margin-left: 1rem;
}

.talk__video svg {
  width: 1.125em;
}

.talks {
  padding: 0;
  margin: 0;
  list-style: none;
}
