// Colors
$white: #fff;
$gray: #505050;
$dark-gray: #2e2e2c;
$blind-gray: #272727;
$light-gray: #b4b3b3;
$lighter-gray: #ddd;
$yellow: #f3df49;
$dark-yellow: #eeb422;

// Fonts
$sans-serif: "Source Sans Pro", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;
$thin: 300;
$normal: 400;
$large: 900;

// Defaults
$content-width: 960px;
$content-body-padding: 15px;
$mobile-screen: 550px;
