body {
  background-color: $white;
  font-family: $sans-serif;
  font-weight: 400;
}

body a {
  text-decoration: none;
  color: $yellow;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $large;
  text-transform: uppercase;
}

h4 {
  font-size: 2rem;
}

.github-forkme img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1000;
}

.section {
  .button {
    background: $yellow;
    border-color: $yellow;
    color: $dark-gray;
    &:hover,
    &:focus {
      background: $dark-yellow;
      color: $dark-gray;
    }
  }
}

.section-odd {
  a {
    color: $dark-gray;
  }
  .button,
  input[type="submit"] {
    background: $dark-gray;
    border-color: $dark-gray;
    color: $white;
    &:hover,
    &:focus {
      background: $gray;
      color: $white;
    }
  }
}

p.intro {
  font-weight: $large;
  max-width: 700px;
  margin: 0 auto 5rem;
  line-height: 1.8;
  font-size: 18px;
}

p.mono {
  font-family: $monospace;
}

input[type="email"]:focus {
  border: 1px solid $gray;
}

ul {
  list-style-type: none;
}
