header {
  .logo {
    margin: 60px auto;
    img {
        width: 100%;
        max-width: 400px;
        max-height: 400px;
        @media (min-width: 415px) {
            display: block;
            margin: 0 auto;
        }
    }
  }
}
