.old-meetups__hero {
  height: 8rem;
  margin: 2rem 0;
}

.old-meetups__title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
}

.old-meetups__description {
  margin-top: 0;
  font-size: 1.1rem;
  line-height: 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

nav li + li {
  padding-left: 15px;
}
