.old-meetups__hero {
  height: 8rem;
  margin: 2rem 0;
}

.old-meetups__title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
}

.old-meetups__description {
  margin-top: 0;
  font-size: 1.1rem;
  line-height: 1rem;
}

.meetup {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.meetup:last-of-type {
  border: none;
}

.meetup__header {
  display: flex;
  align-items: center;
}

.meetup__header h4 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.meetup__date {
  height: 100%;
  margin-right: 1rem;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meetup__date > div:first-child {
  margin-bottom: 1rem;
}

.meetup__title {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3rem;
}

.meetup__content {
  width: calc(100% - 100px);
}

.talk {
  display: flex;
  justify-content: space-between;
}

.talk__title {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.1rem;
}

.talk__speaker {
  font-weight: 300;
}

.talk__video {
  margin-top: 1rem;
  margin-left: 1rem;
}

.talk__video svg {
  width: 1.125em;
}

.talks {
  padding: 0;
  margin: 0;
  list-style: none;
}

.meetup__sponsors {
  margin-left: auto;
  padding-left: 20px;
}

.meetup__sponsors p {
  text-align: right;
  margin: 0;
  color: #555;
}

.meetup__sponsors span {
  white-space: nowrap;
}

.meetup__image {
  height: 4.5rem;
  width: 4.5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .meetup {
    display: block;
  }

  .meetup__content {
    width: 100%;
  }

  .meetup__date {
    max-width: inherit;
    margin: 0;
  }

  .meetup__date p {
    text-align: right;
    margin: 0;
    font-weight: 300;
    font-style: italic;
  }

  .meetup__header {
    flex-direction: column;
  }

  .meetup__header h4, .meetup__sponsors {
    width: 100%;
  }

  .meetup__sponsors {
    margin-left: inherit;
    padding-left: 0;
  }

  .meetup__sponsors p {
    text-align: left;
  }

  .hideOnMobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hideOnMobile {
    display: block;
  }

  .showOnMobile {
    display: none;
  }
}
