.meetup-details {
    flex-direction: column;
    gap: 2rem;
    font-size: 1.1rem;
}

.meetup-details h2 {
    margin-bottom: 1rem;
}

.meetup-details article {
    padding-bottom: 1rem;
}

.meetup-details article:last-of-type {
    margin-bottom: 3rem;
}

.meetup-details article:not(:last-of-type) {
    border-bottom: 0.1rem solid #ccc;
}
