.meetup {
    font-size: 1.1rem;
}

.meetup h2 {
    margin-bottom: 1rem;
    margin-top: 0;
}

.meetup article {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 6fr;
    justify-content: center;
    padding: 2rem 0;
}

.meetup article:not(:last-of-type) {
    border-bottom: 0.1rem solid #ccc;
}

.meetup > .reservation {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.meetup > .reservation a {
    align-items: center;
    background-color: var(--color-dark-grey);
    border: 2px solid var(--color-dark-grey);
    color: var(--color-light-grey);
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.8rem 1rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    width: fit-content;
}

.meetup > .reservation a:hover {
    background-color: var(--color-light-grey);
    color: var(--color-dark-grey);
    transition: all 0.4s ease-in-out;
}

.meetup > .reservation a.meetup-poster {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--color-dark-grey);
    transition: border 0.4s ease-in-out;
}

.meetup > .reservation a.meetup-poster:hover {
    border: 2px solid var(--color-dark-grey);
    transition: border 0.4s ease-in-out;
}

.meetup > .reservation a.meetup-poster > svg {
    color: var(--color-medium-grey);
    transition: color 0.4s ease-in-out;
}

.meetup > .reservation a.meetup-poster:hover > svg {
    color: var(--color-dark-grey);
    transition: color 0.4s ease-in-out;
}
