.place {
  height: 21rem;
}

.place__map {
  height: 100%;
  width: 100%;
  padding: .5rem 0;
}

.leaflet_container {
  height: 100%;
  width: 100%;
}

.col_popup_parent {
  display: flex;
}

.col_popup_child {
  text-align: center;
  margin: 5px;
}