.contributor {
  text-align: center;
}
.contributors {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.avatar {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 6.5rem;
}

