.profilPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profilPage>p{
  width: 80%;
  margin: auto;
  text-align: center;
}

.profilPage__ImageAndName{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.profilPage__ImageAndName h1{
  margin-left: 10px;
}

.ImageAndName__profilImage{
  width: 15%;
  border-radius: 100%;
}


.profilPage__QRCodeDiv{
  background-color: gainsboro;
  padding: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.QRCodeDiv__QRCodeImage{
  margin-top: 20px;
  width: 50%;
}

.QRCodeDiv__QRCodeButton{
  background-color: #f3e049;
  padding: 10px;
  width: 200px;
  margin: 20px auto;
}


.profilPage__badgesAndProfil{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.badgesAndProfil__profilButton, .smiley__profilButton{
  background-color: #f3e049;
  padding: 4px;
  width: 150px;
}

.badgesAndProfil__badgesButton, .fusee__badgesButton{
  background-color: #f3e049;
  padding: 4px;
  width: 150px;
}
.QRCodeDiv__fusee{
  display: none;
}

.QRCodeDiv__smiley{
  display: none;
}


.profilPage__signOut{
  padding: 10px;
  background-color: #f3e049;
  width: 30%;
  margin: 20px auto;
}

@media screen and (min-width: 991px){
  .profilPage__ImageAndName{
    justify-content: flex-start;
  }

  .profilPage>p{
    text-align: left;
  }

  .ImageAndName__profilImage{
    width: 10%;
    border-radius: 100%;
  }
  
  .profilPage__badgesAndProfil{
    display: none;
  }

  .profilPage__QRCodeDiv{
    flex-direction: row;
    height: 200px;
  }

  .QRCodeDiv__QRCodeButton{
    display: none;
  }
  
  .QRCodeDiv__QRCodeImage{
    display: none;
  }

  .QRCodeDiv__fusee{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fusee__fuseeImage{
    width: 30%;
  }

  .fusee__badgesButton, .badgesAndProfil__badgesButton{
    background-color: #f3e049;
    padding: 4px;
    width: 150px;
    margin-top: 20px;
  }

  .QRCodeDiv__smiley{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .smiley__smileyImage{
    width: 30%;
  }

  .smiley__profilButton, .badgesAndProfil__profilButton{
    background-color: #f3e049;
    padding: 4px;
    width: 150px;
    margin-top: 20px;
  }

}