.header {
  align-items: center;
  background-color: #333;
  display: flex;
  height: 7.5rem;
  padding: 0 20px;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__logo img {
  max-height: 6.5rem;
}

.menu__social-icons {
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .menu__social-icons {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-right: 20px
  }
}

.menu__social-icons > div {
  justify-content: flex-end;
}

.menu__social-icons a {
  color: #f3e049 !important;
}

.header__links {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .header__links {
    flex-direction: row;
  }
}

.menu__button {
  align-items: center;
  text-decoration: none;
  background-color: #f3e049;
  border: 0;
  color: #333;
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  height: 40px;
  justify-content: center;
  margin: 0;
  padding: 0 10px;
}
