.header {
  align-items: center;
  background-color: #333;
  display: flex;
  height: 7.5rem;
  padding: 0 20px;
}

.Menu-module--showOnDesktop--2c96Otop{
  flex: 1;
}

.header__socialMenu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 2;
}

.header__socialMenu img{
  width: 25px;
  margin-right: 10px;
  align-items: center;
}

.header__socialMenu div{
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.header__menu{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__logo img {
  max-height: 6.5rem;
}

.socialMenu__social-icons {
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .header {
    align-items: center;
    background-color: #333;
    display: flex;
    height: 7.5rem;
    padding: 0px;
  }

  .header__menu{
    flex-direction: row-reverse;
  }

  .header__socialMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: none;
  }

  .socialMenu__connexion{
    display: none !important;
  }
}

.menu__social-icons > div {
  justify-content: flex-end;
}

.menu__social-icons a {
  color: #f3e049 !important;
  padding: 0px !important;
}

.header__link a{
  margin-right: 30px;
}

@media screen and (max-width: 991px) {
  .header__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
  }

  .menu__content>a{
    margin-left: 20px;
  }

  .header__connexion{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 2px solid #f3e049;
    width: 100%;
    margin-top: 10px;
  }
}

.menu__button {
  align-items: center;
  text-decoration: none;
  background-color: #f3e049;
  border: 0;
  color: #333;
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  height: 40px;
  justify-content: center;
  padding: 0 10px;
}

@media screen and (max-width: 991px){
  .connection-link{
    margin-right: 10%;
  }

  .SocialIcons-module--social-icons--Q0Ivs{
    padding: 0px !important;
  }
}