:root {
  --white: #fff;
  --primary: #13294b;
  --secondary: #00a9e0;
}

.logo,
svg {
  width: 100%;
}

.logo__text--primary {
  fill: var(--primary);
}

.logo__text--secondary {
  fill: var(--secondary);
}

.logo--white .logo__text--primary {
  fill: var(--white);
}
