@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat&display=swap');

body {
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  box-sizing: border-box;
}

b {
  font-weight: 700;
}

p {
  text-align: justify;
}

p, a, a:visited {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h1 {
  margin: 0;
  padding: 20px 0;
}

