.footer {
  margin-top: 20px;
  height: 7.5rem;
  background-color: #272727;
  position: relative;
}

.footer__copyright {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  justify-content: center;
}

.footer__copyright, .footer__link {
  color: #f3e049 !important;
}

.footer__logo {
  border-radius: 75px;
  width: 75px;
  height: 75px;
  box-shadow: #272727 0px -1px 0 15px;
  background-color: #f1f1f1;
  overflow: hidden;
  position: absolute;
  right: 40px;
  top: -20px;
}

.footer__image {
  max-height: 75px;
}

@media screen and (max-width: 767px) {
  .footer__logo {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    box-shadow: #272727 0px -1px 0 7.5px;
    right: 20px;
  }

  .footer__logo img {
    max-height: 50px;
  }
}

