.footer {
  margin-top: 20px;
  height: 7.5rem;
  background-color: #272727;
  position: relative;
}

.footer__copyright {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  justify-content: center;
}

.footer__copyright, .footer__link {
  color: #f3e049 !important;
}

.footer__logo {
  border-radius: 75px;
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: #272727;
  overflow: hidden;
  position: absolute;
  right: 40px;
  top: -45px;
}

.footer__image {
  max-height: 75px;
}

.menu__icon {
  height: 75px;
  max-width: 16px;
}

@media screen and (max-width: 767px) {
  .footer__logo {
    border-radius: 50px;
    width: 75px;
    height: 75px;
    padding: 15px;
    right: 20px;
    top: -35px;
  }

  .footer__logo img {
    max-height: 50px;
  }

  .menu__icon {
    height: 50px;
    max-width: 16px;
  }
}

