.circle {
  background-color: #ccc;
  background-size: cover;
}

.avatars {
  flex: 0 0 6.5rem;
  position: relative;
  margin-top: 1rem;
  margin-right: 1rem;
  max-height: 6.5rem;
}

.avatars__portrait--single {
  height: 6.5rem;
  border-radius: 6.5rem;
}

@media screen and (max-width: 767px) {
  .avatars {
    display: none;
  }
}
