.button--dark {
  margin-right: 10px;
  color: #fff;
  background-color: #333;
  padding: 10px 15px;
  text-decoration: none;
}

.button--dark:visited {
  color: #fff;
}

.buttons {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
}
