.button--dark {
  color: #fff;
  background-color: #333;
  padding: 10px 15px;
  text-decoration: none;
}

.button--dark:visited {
  color: #fff;
}

.buttons {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
}

.buttons a + a {
  margin-left: 1rem;
}

.meetup__poster {
  align-self: center;
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid #333;
  margin-left: 10px;
  text-decoration: none;
}
