.titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 15rem;
}

.titlebar__image-wrapper {
  height: 11rem;
  width: 11rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.titlebar__infos {
  margin-left: 2rem;
}

.titlebar h1 {
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  padding: 0;
}

@media screen and (max-width: 991px) {
  .titlebar h1 {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 767px) {
  .titlebar {
    flex-direction: column;
    height: auto;
  }

  .titlebar > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .titlebar__infos {
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .titlebar h1 {
    font-size: 2.8rem;
  }

  .titlebar__image-wrapper {
    height: 9rem;
    width: 9rem;
  }
}

.titlebar__infos p {
  font-size: 1.6rem;
  margin: 0;
}

.date {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  color: #333333;
}

.date > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date__day {
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 4.8rem;
}

.date__month {
  font-weight: 500;
}

.date__month,
.date__year {
  font-size: 2rem;
}

.date__year {
  font-weight: 700;
  letter-spacing: .1rem;
}

.date__year {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
