.circle {
  background-color: #ccc;
  background-size: cover;
}

.talks {
  margin-top: 1rem;
}

.talk {
  display: flex;
  flex-direction: row;
}

.talk__title {
  margin: 1rem 1rem .5rem 0;
  font-weight: 600;
  font-size: 1.4rem;
}

.talk__description {
  margin: 0 0 .5rem 0;
}

.avatars {
  flex: 0 0 6.5rem;
  position: relative;
  margin-top: 1rem;
  margin-right: 1rem;
  max-height: 6.5rem;
}

.avatars__portrait--single {
  height: 6.5rem;
  border-radius: 6.5rem;
}

@media screen and (max-width: 767px) {
  .avatars {
    display: none;
  }
}

.talk__speakers {
  color: #333;
}
